.stamp {
  width: 7rem;

  cursor: grab;
  filter: drop-shadow(0px 0px 3px #00000034);
  @include spawn-in-animation();

  transition: all 0.2s ease-in-out !important;

  &:hover {
    filter: drop-shadow(0px 0px 14px #00000034);
    transform: scale(1.2) rotate(-3deg) !important;
  }

  @media screen and (min-width: $big-screen-breakpoint) {
    width: 14rem;
  }
}
