//HERO
.hero {
  height: 90vh;
  display: grid;
  grid-template-columns: 60% 40%;
  overflow: hidden;

  @include spaced-section();

  .hero-static-part {
    grid-column-start: 1;
    grid-column-end: 2;

    .logo {
      display: flex;
      align-items: center;
      @include fade-in-animation($delay: 0.15s);
      font-size: 1.25rem;

      p {
        margin-left: 0.5rem;
        font-family: "Ropa Sans", sans-serif;
      }
    }

    .hero-text {
      @include fade-in-animation($delay: 0.3s);

      h1 {
        margin-bottom: 0;
        @include text-primary();
      }

      p {
        margin-top: 0.75rem;
      }
    }
  }
  .hero-stamp-grid {
    grid-column-start: 2;
    grid-column-end: 3;
    z-index: -1;

    margin-top: 10vh;
    transform: rotate(11deg);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;

    .stamp {
      width: 5rem;
    }
  }

  @media screen and(min-width: $tablet-breakpoint) {
    .hero-stamp-grid {
      grid-template-columns: repeat(3, 1fr);
      transform: rotate(36deg) translateX(-10vw) translateY(2vh);

      .stamp {
        width: 7.5rem;
      }
    }
  }

  @media screen and (min-width: $laptop-breakpoint) {
    grid-template-columns: 30% 70%;

    .hero-static-part {
      grid-column-start: 2;
      grid-column-end: 3;

      margin-top: 15vh;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
    }

    .hero-stamp-grid {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;

      z-index: 1;
      height: 50vh;

      grid-template-columns: repeat(6, 1fr);

      transform: rotate(145deg) translateY(20vh) translateX(-30vw);

      .stamp {
        width: 7rem;
      }
    }
  }

  @media screen and (min-width: $big-screen-breakpoint) {
    height: 95vh;

    .logo img {
      width: 2.5vw;
      height: 2.75vw;
    }

    .hero-stamp-grid {
      transform: rotate(145deg) translateY(15vh) translateX(-22.5vw);

      .stamp {
        width: 10vw;
      }
    }
  }
}
