//HERO
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  @include spaced-section();

  .logo {
    display: flex;
    align-items: center;
    @include fade-in-animation($delay: 0.15s);

    p {
      margin-left: 0.5rem;
      font-family: "Ropa Sans", sans-serif;
      font-size: 1.25rem;
    }
  }

  .hero-text {
    width: 50%;
    @include fade-in-animation($delay: 0.3s);

    h1 {
      margin-bottom: 0;
      @include text-primary();
    }

    p {
      margin-top: 0.75rem;
    }
  }

  .hero-stamp-grid {
    position: absolute;
    top: 13vh;
    right: -8vw;
    z-index: -1;

    transform: rotate(11deg);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;

    .stamp {
      width: 4rem;
    }
  }

  @media screen and (min-width: $bigger-mobile-breakpoint) {
    .hero-stamp-grid {
      grid-template-columns: 1fr 1fr 1fr;
      top: 18vh;
      right: -6vw;
      transform: rotate(36deg);

      .stamp {
        width: 6rem;
      }
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    align-items: flex-end;
    text-align: right;
    margin-top: 20vh;
    height: 72.5vh;

    .logo {
      margin-right: 1vw;
      p {
        font-size: 1.75rem;
      }
    }

    .hero-text {
      margin-right: 1vw;

      p {
        margin-top: 0.75rem;
      }
    }

    .hero-stamp-grid {
      grid-template-columns: repeat(6, 1fr);
      left: -25vh;
      top: -12vh;
      right: unset;
      transform: rotate(-225deg);
      z-index: 1;

      .stamp {
        width: 9rem;
      }
    }
  }

  @media screen and (min-width: $big-screen-breakpoint) {
    .hero-text {
      width: 70%;
    }
  }

  @media screen and (min-width: $really-big-screen-breakpoint) {
    .hero-stamp-grid {
      top: -4vh;
      left: -14vh;

      .stamp {
        width: 12rem;
      }
    }
  }
}
