//HERO
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  @include spaced-section();

  .logo {
    display: flex;
    align-items: center;
    @include fade-in-animation($delay: 0.15s);
    font-size: 1.25rem;

    p {
      margin-left: 0.5rem;
      font-family: "Ropa Sans", sans-serif;
    }
  }

  .hero-text {
    width: 15rem;
    @include fade-in-animation($delay: 0.3s);

    h1 {
      margin-bottom: 0;
      @include text-primary();
    }

    p {
      margin-top: 0.75rem;
    }
  }

  .hero-stamp-grid {
    position: absolute;
    top: 8rem;
    right: -0.75rem;
    z-index: -1;

    transform: rotate(11deg);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;

    .stamp {
      width: 4rem;
    }
  }

  @media screen and (min-width: $bigger-mobile-breakpoint) {
    .hero-stamp-grid {
      grid-template-columns: 1fr 1fr 1fr;
      top: 12rem;
      right: -2rem;
      transform: rotate(36deg);

      .stamp {
        width: 6rem;
      }
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    align-items: flex-end;
    text-align: right;
    margin-top: 10rem;
    height: 72.5vh;

    .logo {
      margin-right: 1rem;
      font-size: 1.75rem;
    }

    .hero-text {
      width: 25rem;

      p {
        margin-top: 0.75rem;
      }
    }

    .hero-stamp-grid {
      grid-template-columns: repeat(6, 1fr);
      left: -31rem;
      top: -10rem;
      right: unset;
      transform: rotate(-225deg);
      z-index: 1;

      .stamp {
        width: 9rem;
      }
    }
  }

  @media screen and (min-width: $laptop-breakpoint) {
    .logo {
      font-size: 0.21rem;
    }

    .hero-text {
      width: 70%;
    }

    .hero-stamp-grid {
      top: -14rem;
      left: -22rem;
    }
  }

  @media screen and (min-width: $big-screen-breakpoint) {
    margin-top: 12.5vh;
    margin-bottom: 3vh;
    height: 78.5vh;

    .hero-text {
      width: 67.5vw;
    }

    .hero-stamp-grid {
      top: -16.5rem;
      left: -11.5rem;

      .stamp {
        width: 9.5rem;
      }
    }
  }
}
